.main {
  max-width: 1024px;
  margin: 0 auto;
  min-height: calc(100vh - 2 * 8px);
  align-items: center;
  display: flex;
}

.roles-container {
  flex: 1;
  position: relative;
  background: #f6bc58;
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  overflow: hidden;
  padding: 0 3rem;
  &:focus {
    outline: none;
  }
}

@mixin disable-drag-select {
  -webkit-user-drag: none;
  user-select: none;
}

.left-arrow,
.right-arrow {
  @include disable-drag-select();
  position: absolute;
  width: 5rem;
  height: 100%;
  left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-arrow {
  .arrow-icon-left {
    height: 34px;
    width: 22px;
    rotate: 180deg;
    transition: background 0.2s ease-in;
    background: url(../public/party-animals/arror.svg) no-repeat;
  }

  &:hover {
    .arrow-icon-left {
      background: url(../public/party-animals/arror_hover.svg) no-repeat;
    }
  }
}

.right-arrow {
  left: auto;
  right: 0rem;

  .arrow-icon-right {
    height: 34px;
    width: 22px;
    transition: background 0.2s ease-in;
    background: url(../public/party-animals/arror.svg) no-repeat;
  }

  &:hover {
    .arrow-icon-right {
      background: url(../public/party-animals/arror_hover.svg) no-repeat;
    }
  }
}

@mixin mask-transition {
  mask-size: 105% 100%;
  mask-repeat: no-repeat;
  transition: mask-size 0.8s cubic-bezier(0.42, 0.65, 0.27, 0.99);
  &.active {
    mask-size: 100% 100%;
  }
}

.left-mask {
  @include mask-transition;
  mask-image: linear-gradient(90deg, transparent 0%, #000 8%);
  mask-position: left top;
}

.right-mask {
  @include mask-transition;
  mask-image: linear-gradient(90deg, #000 92%, transparent 100%);
  mask-position: right top;
}

.source-item-wrap {
  @include disable-drag-select;
  list-style: none;
  white-space: nowrap;
  width: 25%;
  max-width: 110px;
  min-width: 80px;
  padding: 2rem 0;
  margin: 0;
  transition: none;

  &.transition {
    transition: transform 0.5s cubic-bezier(0.42, 0.65, 0.27, 0.99);
  }
}

.source-item {
  display: inline-block;
  width: 100%;
  margin: 0 0.5rem;
  transition: scale 0.15s cubic-bezier(0.04, 0.31, 0.5, 1.74),
    margin 0.15s ease-in;
  transform-origin: center;

  &:first-of-type {
    margin: 0 0.5rem 0 3rem;
  }

  &:last-of-type {
    margin: 0 3rem 0 0.5rem;
  }

  &.active {
    scale: 1.2;
    margin: 0 1rem;

    & .avatar-bg {
      display: block;
      transform: scale(1.08);
    }
  }

  &:first-of-type.active {
    margin: 0 1rem 0 3.5rem;
  }

  &:last-of-type.active {
    margin: 0 3.5rem 0 1rem;
  }

  &:hover {
    .avatar-bg {
      display: block;
      animation: pop 1s cubic-bezier(0.02, 1.2, 1, 1),
        pop 1s cubic-bezier(0, 0, 0.36, 1.14) infinite alternate;
    }
  }
}

@keyframes pop {
  100% {
    transform: scale(1.1);
  }
}

.avatar-wrap {
  position: relative;
}

.avatar-bg {
  @include disable-drag-select;
  display: none;
  scale: 1.5;
  position: absolute;
  top: 8%;
  width: 100%;
  pointer-events: none;
  transition: scale 2s;
}

.avatar-source {
  @include disable-drag-select;
  position: relative;
  width: 100%;
  vertical-align: top;
  transition: filter 0.1s ease-in-out;
  &:active {
    filter: brightness(96%);
  }
}
